.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
body {
  background-color: #fafafa;
  font-family: Helvetica;
  font-weight: lighter;
  color: #646464;
  margin: 0;
}
span {
  font-family: Helvetica;
  font-weight: lighter;
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  font-size: 50px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
#container {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
}
.item {
  position: relative;
  width: 90%;
  height: 400px;
  margin: 5%;
  background-color: #e6e6e6;
}
.content {
  margin: 5px;
  margin-top: 80px;
}
.controls {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: #e6e6e6;
  opacity: .5;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
}
.controls:hover {
  opacity: 1;
}
i {
  padding: 20px;
  font-size: 75px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
}
i:active {
  color: #313131;
}
