.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
#canvas-body {
  background-color: #fafafa;
  font-family: Helvetica;
  font-weight: lighter;
  overflow: hidden;
  color: #646464;
  margin: 0;
}
#pcanvas {
  padding: 0px;
  margin: 0px auto;
}
.stats {
  font-family: Helvetica;
  padding: 10px;
  font-weight: lighter;
  font-size: 60px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  background-color: none;
  opacity: .9;
  color: #3c3c3c;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.predator {
  color: #87bdb1;
}
.prey {
  color: #ff9c5b;
}
.select-bar-bkg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  height: 100px;
  background-color: #c8c8c8;
}
.select-bar-ratio {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  margin: 0;
  background-color: #3c3c3c;
}
.select-bar-hit {
  width: 90%;
  margin: 5%;
  height: 100px;
  position: relative;
}
.param-label {
  position: absolute;
  left: 0;
  top: 0;
  font-family: Helvetica;
  padding: 10px;
  font-weight: lighter;
  font-size: 60px;
  color: #fafafa;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
.num-label {
  position: absolute;
  top: 0;
  font-family: Helvetica;
  padding: 10px;
  font-weight: lighter;
  font-size: 60px;
  color: #fafafa;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  max-width: 30%;
  right: 0;
  text-align: right;
  text-overflow: clip;
}
